/* css styles */
.figure-caption {
  color: #333333;
  font-weight: bold;
}

[class^="ansi-"][class$="-fg"] {
	font-weight: bold;
	font-size: 130%;
}

.ansi-cyan-fg {
	font-size: 175%;
	color: #008B8B
}